{% extends 'PortfolioDatabase/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://weberstatesports.com/images/2020/9/18/Kerr_Trinity_2020.jpg?width=300" class="card" height="680px"/>
            </div>
            <div class="col-md-6">
                <p>Hi, my name is Trinity Kerr.  I am a junior in the Computer Science program
                    at Weber State University. This is a website that I am creating through my
                    3620 class.  I really liked working with web development from the front end, and I am
                    excited to learn more about it from the backend.</p>

            </div>
        </div>
    </div>
{% endblock %}